<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">
    <div class="jumbotron">
      <div style="width: 100%; overflow: hidden;">
        <div class="vertical-center">
          <div class="left" style=" text-align: left;">
            <div >
              <h1 class="display-4" style="font-size: 30px; text-align:center"><i class="fa-regular fa-user"></i> &nbsp;&nbsp;<b>Welcome to the <%= title %> Page </b></h1>
              <br>
                <h3> About me </h3>
                <br>
                <p>Highly motivated Computer Science and Administrative practitioner with extensive experience such as
                  project manager and/or collaborator in initiatives related to optimization processes, strategic planning,
                  information mapping, documentation, cleaning and management of databases, among others.</p>
            </div>
          <div style="display: flex;">
                <a href="Assets\images\resume.pdf"><button type="button" class="btn btn-secondary">Resume</button></a>
                <p> &nbsp;&nbsp;  Press here</p>
            </div>
          
        </div>
      </div>
      <div >
          <img src="Assets\images\AX.JPG" alt="AxelR" height="300" style="float:right; margin: -25px 0px 00px 150px;" class="centered" >
          </div>
    </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>