<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">
    <div class="jumbotron">
      <div style="width: 100%; overflow: hidden;">
        <div class="vertical-center">
          <div style=" text-align: left;">
            <div>
              
              <h1 class="display-4" style="font-size: 30px; text-align:center">&nbsp;&nbsp;<i class="fa-solid fa-tree-city"></i><b> Welcome to the <%= title %> </b></h1>
              <br>
              <p> My name is Axel Romero. Welcome. </p>
              <br>
                <div style="display: flex;">
                <a href="\about"><button type="button" class="btn btn-secondary">About Me</button></a>
                <p> &nbsp;&nbsp;    Press here to go to  my about page</p><br><br>
                </div>
                <div style="display: flex;">
                <a href="\contact"><button type="button" class="btn btn-secondary">Contact Me</button></a>
                <p> &nbsp;&nbsp;  Press here to go to my contact page</p>
                </div>
                <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>



<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>