<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">
    <div class="jumbotron">
      <div style="width: 100%; overflow: hidden;">
        <div class="vertical-center">
          <div class="left" style=" text-align: left;">
            <div >

              <h1 class="display-4" style="font-size: 30px; text-align:center"><i class="fa-solid fa-handshake"></i>&nbsp;&nbsp;<b>Welcome to the <%= title %> Page </b></h1>
              <br>
              <ul> 
              <li> Strategyc Planning
              <li> Project Management
              <li> Process Improvement
              <li> Information Mapping
              <li> Phyton
              <li> Java
              <ul>
              <div >
          <img src="Assets\images\services.png" alt="Services" height="150" class="center">
          </div>
            </div>
        </div>
      </div>
      
    </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>