<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">
  <div class="jumbotron">
    <div style="width: 100%; overflow: hidden;">
      <div class="vertical-center">
        <div class="left" style=" text-align: left;">
          <div >

            <h1 class="display-4" style="font-size: 30px; text-align:center"><i class="fa-brands fa-creative-commons-remix"></i>&nbsp;&nbsp;<b>Welcome to the <%= title %> Page </b></h1>
            <br>
            <ul> 
            <li>  Kaizen
            <li>  Strtegyc Alignment
            <li>  Strategic Assesment
            <li>  Process Mapping
            <li>  Takeover
            <li>  Time & Movement
            <ul>
            <br>
            <div >
        <img src="Assets\images\projects.jpg" alt="Proyects" height="100" class="center">
        </div>
          </div>
      </div>
    </div>
    
  </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>